exportPattern("^[[:alpha:]]+")
importFrom(survival, "Surv", "survdiff")
importFrom(stats, "model.extract", "model.matrix", "formula", "printCoefmat", "optim", "rbinom",
           "runif", "rgamma", "pchisq", "qchisq", "pnorm", "qnorm", "terms")
importFrom(emdbook, "qchibarsq", "pchibarsq")
importFrom(MASS, "ginv")
S3method(print, rld)
S3method(summary, rld)
S3method(print, summary.rld)
S3method(print, lrtest)
S3method(print, calcVEt)
S3method(summary, calcVEt)
S3method(print, summary.calcVEt)
S3method(print, calcVEk)
S3method(summary, calcVEk)
S3method(print, summary.calcVEk)
S3method(print, calcpk)
S3method(summary, calcpk)
S3method(print, summary.calcpk)
S3method(print, rld.design)
#export("rld","summary.rld", "summary.calcVEk", "summary.calcVEt", "summary.calcpk")
